
<section class="container">
    <table class="tabela">
        <thead class="tabela_head head">
            <th class="tabela__head__conteudo">Valor</th>
            <th class="tabela__head__conteudo">Destino</th>
            <th class="tabela__head__conteudo">Data</th>
        </thead>
        <tbody *ngIf="transferencias?.length > 0; else listaVazia">
            <tr class="tabela__linha"*ngFor="let transferencia of transferencias">
                <td class="tabela__conteudo">{{transferencia?.valor | currency}}</td>
                <td class="tabela__conteudo">{{transferencia?.destino}}</td>
                <td class="tabela__conteudo">{{transferencia?.data | date: "short"}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #listaVazia>
        <p>Nenhuma tranferência cadastrada</p>
    </ng-template>
</section>